table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: hidden;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    width: 49vw;
    text-align: left;
}

#json-container {
    width: 100%;
    /* background-color: #f4f4f4; */
    padding: 10px;
    text-align: left;
    max-height: 80vh;
    overflow-y: scroll;
}

#pdfContainer {
    margin-top: 10px;
    height: 80vh;
    position: relative;
}

#pdfContainer canvas {
    display: block;
    border: 1px solid black;
    height: 95%;
}

.navigation {
    text-align: center;
    margin-top: 10px;
}

.highlight {
    border: 2px solid yellow;
    pointer-events: none;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.3);
}

.block {
    margin-left: 20px;
}

.key {
    font-weight: bold;
}

.folder:before {
    content: "▼";
    display: inline-block;
    margin-right: 5px;
}

.folder.collapsed:before {
    content: "►";
}

.value {
    margin-bottom: 10px;
    margin-left: 10px;
}